= render partial: 'layouts/breadcrumbs_home'

.folder-lists-container
  = form_with url: folders_path, local: true, class: 'folder-save-form' do |f|
    = f.text_field :name, class: 'folder-input-box', placeholder: '新しいフォルダ名を入力してください'
    = f.submit '作成', class: 'folder-save-btn'
  .folder-content
    %table.folder-table
      %tr
        %th
          = sortable "name", "フォルダ名"
        %th
          = sortable "updated_at", "更新日時"
      - @folders.each do |folder|
        %tr
          %td
            = link_to folder_memos_path(folder.id) do
              #{folder.name.truncate(33)}
          %td
            #{folder.updated_at.strftime("%Y-%m-%d %H:%M")}
